<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>Sign</servlet-name>
		<servlet-class>com.lxisoft.servlet.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sign</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>com.lxisoft.servlet.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/contactAdd</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>com.lxisoft.servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/contactDelete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Edit</servlet-name>
		<servlet-class>com.lxisoft.servlet.EditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/contactEdit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>com.lxisoft.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>View</servlet-name>
	    <servlet-class>com.lxisoft.servlet.ViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View</servlet-name>
		<url-pattern>/viewServlet</url-pattern>
	</servlet-mapping>

	<security-constraint>
        <web-resource-collection>
            <web-resource-name>Secured</web-resource-name>
            <url-pattern>/viewServlet</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
      
        <auth-constraint>
            <description></description>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
   </security-constraint>
   
   <security-role>
      <role-name>admin</role-name>
      <role-name>user</role-name>
   </security-role>
   
   <login-config>
      <auth-method>FORM</auth-method>

      <form-login-config>
         <form-login-page>/login.jsp</form-login-page>
         <form-error-page>/error.jsp</form-error-page>
      </form-login-config> 
   </login-config>
</web-app>	