<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"  
    xmlns:beans="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security.xsd">  
   
   <http auto-config="true">
   		<intercept-url pattern="/admin/**"  access="hasRole('USER')"/>
   		<!-- <intercept-url pattern="/introduction/**"  access="hasAnyRole('ADMIN','USER')"/> -->
   		<form-login
   		login-page="/login"
   		default-target-url="/admin"
 		authentication-failure-url="/login?error"
 		username-parameter="username"
 		password-parameter="password" />
 		<logout logout-success-url="/login?logout" />
   		
   </http>
    <authentication-manager>
    	<authentication-provider>
    		<user-service>
    			<user name="test" password="1234" authorities="USER"/>
    		</user-service>
    	</authentication-provider>
    </authentication-manager>
  </beans:beans>  